@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,700');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Comic+Comic+Neue:ital,wght@1,700";
}

p:not(.registration-txt),
span,
li,
table,
h4 {
    font-size: 1.25rem;
}

span {
    font-weight: bold;
}

header {
    position: relative;
}

.title {
    background-color: #211915;
    height: 6rem;
    padding-top: 1rem;
}

h1 {
    color: #F8E12E;
    font-size: 3rem;
}

.head-figure {
    width: 100%;
    height: 300px;
    background-image: url(./assets/design1_image2-t2.jpg);
    background-size: 100% auto;
    background-position-x: 0%;
    background-position-y: 35%;
}

.head-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav {
    position: absolute;
    top: 5rem;
    right: 1rem;
}

.head-menu {
    display: inline-block;
    width: 110px;
    height: 30px;
    max-width: 100px;
    text-align: center;
    vertical-align: middle;
    padding-top: 4px;
    background-color: #4472C4;
    border: 2px solid black;
    color: white;
    text-decoration: none;
    box-shadow: 10px 5px #211915;
}

.head-menu:hover {
    background-color: #70AD47;
}

.head-menu:active {
    background-color: #70AD47;
}

main:not(.schedule-main) {
    position: relative;
}

.main-figure {
    width: 15%;
}

h5 {
    display: inline-block;
    width: 100%;
    height: 2em;
    background-color: black;
    color: white;
    font-size: 35px;
}

h5:not(.rules-main-h5) {
    text-align: center;
    padding-top: 10px;
}

.main-img1 {
    width: 100%;
    height: auto;
    object-fit: scale-down;
    background-color: red;
}

main>div {
    height: 250px;
    position: relative;
    /* top: 50px; */
    z-index: 2;
    padding: 5px;
    background-color: white;
}

section:not(.rules-section),
.contact-section {
    width: 80%;
    position: absolute;
    top: 0px;
    right: 20px;
}

.contact-content {
    height: 33vh;
    max-height: 400px;

}

.contact-section {
    margin-top: 50px;
}

li:not(.li-rules>li, .rules-ul>li, .last-item) {
    list-style: none;
    font-size: x-large;
}

li,
.section-element {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.img-final {
    background-image: url(./assets/hockey_1.jpg);
}

.img-final-about {
    background-image: url(./assets/hockey_2.jpg);
}

.img-final-contact {
    background-image: url(./assets/hockey_3.jpg);
}

.img-final,
.img-final-about,
.img-final-contact {
    position: sticky;
    top: 0px;
    width: 100%;
    height: 80vh;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

/*Rules*/

.main-header,
.schedule-main-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 5rem;
    padding: 1em;
    background-color: black;
    box-sizing: content-box;
}

.rules-main-h5 {
    background-color: transparent;
}

.main-header>p {
    color: white;
}

.rules-section {
    /* background-color: coral; */
    padding-left: 2rem;
    padding-right: 2rem;
}

.rules-section-1,
.rules-section-2 {
    padding: 1rem;
    margin-top: 1rem;
    text-align: justify;
}

.rules-section-1>h4,
.rules-section-2>h4 {
    margin-bottom: 1rem;
}

ol,
.rules-ul,
dl {
    text-align: justify;
    list-style-position: inside;
}


.rules-ul,
.last-item {
    list-style-position: inside;
}

.rules-ul {
    list-style-type: lower-alpha;
}

.last-item {
    margin-left: 3rem;
}

.schedule-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: red; */
}

.schedule-main-header {
    width: 100%;
}

.schedule-section {
    width: 600px;
    max-width: 60%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.schedule-sbtt {
    color: white;
}

table {
    height: 400px;
}

.td1 {
    text-align: center;
}

.col-1,
thead {
    background-color: #D1D1D1;
    border: 2px solid #D1D1D1;
}

.schedule-section-1 {
    /* background-color: aqua; */
    width: 80%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.schedule-contact {
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Registration_form */

.registration-main {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    position: absolute;
    top: 50px;
    /* background-color: blue; */
    width: 50%;
    height: 50vh;
}

.personal-data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset {
    border: none;
}

/* label:not(.grade>label, .close-list, .position-group label, .sub-form5 label) */

.personal-data label {
    width: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    flex-grow: 2;
}

.sub-form2>p,
.sub-form3>p {
    font-size: 1rem;
}

.names, .city-container, .birth-genre-data {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

input {
    margin: 3px;
}

.input-1 {
    flex-grow: 5;
}

.input-2 {
    flex-grow: 4;
}

.input-3 {
    flex-grow: 3;
}

.input-4 {
    flex-grow: 7;
}

.sub-form1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.label-zip {
    width: 40%;
}

.label-birth {
    width: 60%;
    display: flex;
    align-items: center;
}

.input-5 {
    width: 90px;
    margin-right: 1px;
}

.input-6 {
    flex-grow: 10;
}

.sub-form2,
.sub-form3,
.sub-form5 {
    width: 100%;
    /* background-color: red; */
    margin-top: .5rem;
    display: flex;
    gap: 1rem;
    /* justify-content: space-around; */
}

/* .city-container{
    width: 100%;
} */

.label-zip-b,
.label-birth-b {
    display: none;
}

.genre {
    display: flex;
    justify-content: start;
    width: 40%;
    gap: 1rem;
    /* background-color: violet; */
}

.genre-label {
    width: 30%;
    display: flex;

    /* display: flex; */
    /* justify-content: space-around; */
}

.sub-form3 {
    flex-direction: column;
}

.sub-form3>div {
    width: 100%;
    display: flex;
    justify-content: center;
    /* background-color: #4472C4; */
}

.grade,
.position-group-checkboxes,
.signature-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.grade>label {
    width: 30%;
    display: flex;
    /* background-color: aqua; */
}

.closest-school {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    gap: 1rem;
    /* background-color: yellow; */
}

.close-list {
    /* background-color: #70AD47; */
    display: flex;
    margin-top: 1rem;
}

.schools {
    display: flex;
    width: 120%;
}

.position-group {
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    align-items: center;
}

.position-group-checkboxes {
    padding: 1rem;
    width: 90%;
    /* background-color: coral; */
}

.position-group label,
.sub-form5 label {
    width: 50%;
}

.size {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 1rem;
    /* justify-content: left; */
}

.size>label {
    display: flex;
    justify-content: start;
}

input[type="submit"],
.sub-form6,
.registration-txt {
    margin-top: 1rem;
}

.registration-txt {
    margin-bottom: 1rem;
}

/*Mapas*/

.mapas-group {
    /* background-color: blue; */
    width: 90%;
    height: auto;
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

iframe {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 5px 5px rgba(33, 25, 21, 0.5);
}

iframe:hover {
    transform: scale(1.1);
}

/* Queries */

@media screen and (max-width: 360px) {

    header {
        position: relative;
        /* padding:auto; */
    }

    .title {
        height: 240px;
        padding-top: .5rem;
    }

    h1 {
        font-size: 1.5rem;
        text-align: center;
        vertical-align: center;
    }

    nav {
        position: absolute;
        top: 3.5rem;
        width: 100%;
        height: auto;
        right: 0px;
        padding-bottom: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* padding:10px 10px; */
    }

    .head-menu {
        display: inline-block;
        width: 70%;
        height: 30px;
        max-width: 300px;
        text-align: center;
        vertical-align: middle;
        padding-top: 4px;
        background-color: #4472C4;
        border: 2px solid black;
        color: white;
        text-decoration: none;
        box-shadow: none;
    }

    .head-figure {
        height: 150px;
        background-repeat: no-repeat;
    }

    h5 {
        height: 2em;
        background-color: black;
        color: white;
        font-size: 18px;
        padding-top: 0px;
    }
}

@media screen and (min-width:768px) {

    /* Registration_form */

    form {
        top: 100px;
        width: 80%;
        display: flex;
    flex-direction: column;
    align-items: center;
    }

    .personal-data {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .first-name,
    .last-name {
        width: 40%;
    }

    /* .city-container {
        width: 100%;
        display: flex;
    } */

    .input-4 {
        flex-grow: 0;
    }

    .city, .label-zip-b{
        width: 40%;
    }

    .sub-form1 {
        display: none;
    }

    .personal-data label:not(.city) {
        width: 100%;
        /* background-color: blue;  */
        display: flex;
        justify-content: start;
        flex-grow: 0;
    }

    .sub-form1 {
    display: none;
}

    .label-zip-b,
.label-birth-b {
    display: block;
    width: 50%;
}

.input-4, .input-5 {
    flex-grow: 1;
}

.sub-form2{
    justify-content: flex-start;
}

.sub-form3{
    flex-direction: row;
}

.sub-form3>div {
    display: flex;
    justify-content: start;
    /* background-color: #4472C4; */
}


.grade{
    width: 80%;
    flex-wrap: nowrap;
}

.closest-school{
    width: 100%;
    justify-content: start;
}

.position-group{
    width: 100%;
}

.position-group>legend, .position-group>p{
    justify-self: start;
}

.position-group-checboxes{
    justify-content: space-between;
}

.signature-group{
    flex-direction: column;
}


} 