@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,700');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Comic+Comic+Neue:ital,wght@1,700";
}

p, span, li, table, h4{
    font-size: 1.25rem;
}

span{
    font-weight: bold;
}

/* p:not(.li-rules){
    text-indent: 2rem;
} */

header {
    position: relative;
}

.title {
    background-color: #211915;
    height: 6rem;
    padding-top: 1rem;
}

h1 {
    color: #F8E12E;
    font-size: 3rem;
}

.head-figure {
    width: 100%;
    height: 300px;
    background-image: url(./assets/design1_image2-t2.jpg);
    background-size: 100% auto;
    background-position-x: 0%;
    background-position-y: 35%;
}

.head-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav {
    position: absolute;
    top: 5rem;
    right: 1rem;
}

.head-menu {
    display: inline-block;
    width: 110px;
    height: 30px;
    max-width: 100px;
    text-align: center;
    vertical-align: middle;
    padding-top: 4px;
    background-color: #4472C4;
    border: 2px solid black;
    color: white;
    text-decoration: none;
    box-shadow: 10px 5px #211915;
}

.head-menu:hover {
    background-color: #70AD47;
}

.head-menu:active {
    background-color: #70AD47;
}

main:not(.schedule-main) {
    position: relative;
}

.main-figure {
    width: 15%;
}
h5{
    display: inline-block;
    width: 100%;
    height: 2em;
    background-color: black;
    color: white;
    font-size: 35px;
}

h5:not(.rules-main-h5){
    text-align: center;
    padding-top: 10px;
}

.main-img1 {
    width: 100%;
    height: auto;
    object-fit: scale-down;
    background-color: red;
}

main>div {
    height: 250px;
    position: relative;
    /* top: 50px; */
    z-index: 2;
    padding: 5px;
    background-color: white;
}

section:not(.rules-section),.contact-section {
    width: 80%;
    position: absolute;
    top: 0px;
    right: 20px;
}

.contact-content{
    height: 33vh;
    max-height: 400px;
   
}

.contact-section{
    margin-top: 50px;
}

li:not(.li-rules>li, .rules-ul>li, .last-item) {
    list-style: none;
    font-size: x-large;
}

li, .section-element{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.img-final{
    background-image: url(./assets/hockey_1.jpg);
}

.img-final-about{
    background-image:url(./assets/hockey_2.jpg);
}

.img-final-contact{
    background-image: url(./assets/hockey_3.jpg);
}

.img-final, .img-final-about, .img-final-contact {
    position: sticky;
    top: 0px;
    width: 100%;
    height: 80vh;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

/*Rules*/

.main-header, .schedule-main-header{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 5rem;
    padding: 1em;
    background-color: black;
    box-sizing: content-box;
} 

.rules-main-h5{
    background-color: transparent;
}

.main-header>p{
    color: white;
}

.rules-section{
    /* background-color: coral; */
    padding-left:2rem;
    padding-right: 2rem;
}   

.rules-section-1, .rules-section-2{
    padding: 1rem;
    margin-top: 1rem;
    text-align: justify;
}

.rules-section-1>h4, .rules-section-2>h4{
    margin-bottom: 1rem;
}

ol, .rules-ul, dl{
    text-align: justify;
    list-style-position: inside;
} 


.rules-ul, .last-item{
    list-style-position: inside;
}

.rules-ul{
    list-style-type:lower-alpha;
}

.last-item{
    margin-left: 3rem;
}

.schedule-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: red; */
}

.schedule-main-header{
    width: 100%;
}

.schedule-section{
    width: 600px;
    max-width: 60%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.schedule-sbtt{
    color:white;
}

table{
    height: 400px;
}

.td1{
    text-align: center;
}

.col-1, thead{
    background-color: #D1D1D1;
    border: 2px solid #D1D1D1;
}

.schedule-section-1{
    /* background-color: aqua; */
    width: 80%;
    margin-top: 2rem;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
}

.schedule-contact{
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}




